*
{
    box-sizing: border-box;
    -webkit-tab-highlight-color: rgba(0,0,0,0) !important;
}

*:focus
{
    outline: none !important;
}

html
{
    height: 100%;
}
body
{
    margin: 0;
    position: relative;
    font-family: 'Open Sans';
}

h1 
{
    padding: 0;
    margin: 0 0 15px 0;
    text-align: center;
}

.cntr
{
    width: 1024px;
    margin: 0 auto;
    text-align: left;
    position: relative;
}
/*HEADER*/
#header
{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('img/header.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-top: 5px solid rgb(10, 223, 56);
    border-bottom: 1px solid #ddd;
    padding: 15px 0 0 0;
    z-index: 90;
    transition: 1s opacity, 1s border;
    box-shadow: 0 0 10px rgb(194, 194, 194);
}
#nadpis
{
    font-family: 'Grand Hotel';
    font-size: 26px;
    display: inline-block;
    text-align: left;
    margin: 0 0 0 30px;
}
#popis
{
    float:right;
    padding: 5px;
    background: rgba(114, 114, 114, 0.8);
    box-shadow: 0 5px 15px #bababa;
    border-radius: 5px;
    width: 290px;
    text-align: center;
    color: rgb(211, 211, 211);
    font-size: 14px;
}
#popis p
{
    margin: 10px 0 10px 0;
}
/*CONTENT*/
#content
{
    margin-top: 120px;
    position: relative;
}
/*TAG MENU*/
#tag_rel
{
    width: 25%; 
    position: relative;
    float: left;
}
#tagmenu
{
    background: rgb(223, 223, 223);
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    border: 1px solid black;
    width: inherit;
    position: fixed;
}
#fixed{ 
    position:fixed;
    width:inherit;
    padding:0px; 
    height:10px;
    background-color:#333;    
}
#tagmenu > p 
{
    display: inline-block;
    margin: 0 0 5px 5px;
}
.tag
{
    font-size: 12px;
    background: rgb(130, 130, 130);
    display: inline-block;
    margin: 5px 0 0 5px;
    padding: 5px 10px 5px 10px;
    border-radius: 150px;
    border: 1px solid rgb(57, 57, 57);
    cursor: pointer;
    text-transform: uppercase;
    color: white;
}
.tag:not(.active)
{
    background:rgb(130, 130, 130) !important;
}
.tag p
{
    margin: 0;
}
#list
{
    width: 70%;
    float: right;
}
#list.modal_is_opened
{
    display: none;
}
.recept
{
    float: right;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding-bottom: 5px;
    margin: 0 0 15px 0;
    cursor: pointer;
}
.recept .obr
{
    width: 40%;
    display: inline-block;
}
.recept img
{
    width: 100%;
    height: auto;
}
.recept .text
{
    display: inline-block;
    width: 60%;
    float: right;
}
.recept .text h2 
{
    margin: 10px;
}
.recept .text p
{
    margin: 5px;
    color: gray;
}
.recept .tag
{
    font-size: 12px;
    background: rgb(130, 130, 130);
    display: inline-block;
    margin: 5px 0 0 5px;
    padding: 5px 10px 5px 10px;
    border-radius: 150px;
    border: 1px solid rgb(57, 57, 57);
    text-transform: uppercase;
    color: white;
}
.recept .tag p
{
    margin: 0;
}
  
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

/*RESPONSIVE*/
@media (max-width: 1100px)
{
    .cntr
    {
        width: auto;
        margin: 0;
        padding: 10px;
    }
    #popis
    {
        margin: 0 30px 0 0;
    }
}
@media (max-width: 630px)
{
    #header
    {
        background-position: 70% 0%;
    }
    #nadpis
    {
        display: inline;
        margin: 0;
        font-size: 35px;
    }
    #nadpis h1
    {
        margin: 0 0 0 30px;
        text-align: left;
    }
    #popis
    {
        display: none;
    }
    #content
    {
        margin-top: 130px;
    }
    #tag_rel
    {
        float: none;
        width: 85%;
        margin: 0 auto;
        position: relative;
    }
    #tagmenu
    {
        position: relative;
        width: 100%;
    }
    #list
    {
        width: 100%;
        float: none;
        margin-top: 20px;
    }
    .recept{
        float: none;
    }
    .recept .obr{
        width: 100%;
    }
    .recept .text
    {
        width: 100%;
    }
}