body {
	color:red;
}
article {
	margin-top:50px;
	margin-left:50px;
	margin-bottom:150px;
}
article h1 {
	font-size: xx-large;
}
article p, article a {
	color:red;
	text-decoration: none;
	display: block;
}
article a {
	margin-bottom: 60px;
}
article p:not(.odsek) {
	font-size: x-large;
}
article .odsek {
	font-size :larger;
	text-indent: 1em;
}
#left {
	width:50%;
	box-sizing: border-box;
	float:left;
	text-align: left;
}
#right {
	width: 50%;
	box-sizing: border-box;
	float: left;
}
iframe {
	border: 4px solid red;
}
@media screen and (max-width:1200px) {
	article {
		margin-left:0;
	}
	#left, #right {
		float:none;
		width:100%;
	}
	iframe {
		width:100%;
	}
}